.grid-container {
    display: grid;
    gap: 20px;   
    padding: 20px;
    justify-items: center;  
    align-items: start;  
    max-width: 1200px; 
    margin: 0 auto; 
}
.accordion {
    background-color: #00796b;
    color: white;
    padding: 15px;
    width: 100%;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    border-radius: 5px; 
    margin-top: 10px;
    transition: background-color 0.3s;
    margin: 10px auto;
}


.panel {
    padding: 0 15px;
    background-color: #f1f1f1;
    margin-top: 10px;
    border-radius: 5px;
    max-height: 0;           
    overflow: hidden;        
    transition: max-height 0.3s ease-out;
}


.panel.open {
    display: block;
    max-height: 500px;         
}

.accordion:hover {
    background-color: #004d40;
}

.accordion:hover {
    background-color: #004d40;
}

.downloadclass {
    position: relative; 
    height: 100px; 
}

.download-button {
    position: absolute;
    padding: 15px 30px;
    background-color: #2196f3;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
    right: 50px;
    bottom: 10px;
}

.download-button:hover {
    background-color: #1976d2;
}

.animgif_div {
    position: relative;   
}

.bttm_img {
    position: absolute;
    right: 40px;
    bottom: 60px;
    height: 200px;
    width: 200px;
}
